venv/
.vscode/
utils/__pycache__
tokenizer
rst_file
pretrained_models
models/__pycache__
data_loader/__pycache__
__pycache__
datasets/MATRES/docEvR_processed/
datasets/MATRES/docEvR_processed_no_augm/
datasets/MATRES/docEvR_processed_ctx_sim/
datasets/numberbatch-en-19.08.txt
datasets/MATRES/docEvR_processed_kg/
datasets/hievents_v2/processed/docEvR_processed_kg/
datasets/TimeBank-dense/docEvR_processed_kg.zip
datasets/TimeBank-dense/docEvR_processed_kg/
datasets/i2b2_2012/docEvR_processed_kg/
log
datasets/i2b2_2012/docEvR_processed_kg.zip
result.txt
datasets/TDDiscourse/TDDMan/docEvR_processed_kg/
datasets/TDDiscourse/TDDAuto/docEvR_processed_kg/
result_long(train).txt
result_long.txt
*mulerx*
datasets/c2v.json
datasets/numberbatch-19.08.txt
