.vscode/
utils/__pycache__
tokenizer
rst_file
pretrained_models
models/__pycache__
log
data_loader/__pycache__
__pycache__
datasets/MATRES/docEvR_processed/*
datasets/MATRES/docEvR_processed_no_augm/*
./.gitignore
